.header {
    color: white;
    
    .main {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1330px;
        height: 90px;
        margin: auto;
        padding: 15px;

        .social__links {
            display: flex;
            align-items: center;
            max-width: calc(100% / 3);
            width: 100%;

            a {
                margin-left: 5px;
            }

            a:first-child {
                margin-left: 0;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            max-width: calc(100% / 3);
            width: 100%;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
        }

        .mail {
            display: flex;
            justify-content: flex-end;
            max-width: calc(100% / 3);
            width: 100%;
            color: #b7bdc2;
        }
    }
    
    .sub {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
        height: 60px;
        margin: auto;
        padding: 20px 0;
        border-top: 1px solid #28292b;

        a {
            margin-left: 25px;
            font-size: 13px;
            color: #b7bdc2;
            &:hover{
                color: #47b5eb;
            }
        }
        
        a:first-child{
            margin-left: 0;
        }
    }
}
