.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: 60px;
    margin: auto;
    padding: 20px 0;
    border-top: 1px solid #28292b;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1011139e;
    backdrop-filter: blur(10px);

    a {
        margin-left: 25px;
        font-size: 13px;
        color: #b7bdc2;
        cursor: pointer;
        transition: all 0.4s;

        &:hover{
            color: white;
        }
    }
    
    a:first-child{
        margin-left: 0;
    }
    
    .underline{
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: #28292b;
        position: relative;
        margin-top: 5px;
    }
    
    .hover{
        color: white !important;
    }
}

.body {
	min-height: calc(100vh - 150px - 100px);
    max-width: 1330px;
    margin: auto;
    padding: 0 15px 20px;
    height: 100%;

    .home__welcome{
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: auto;
    
        .home__welcome-info{
            max-width: 380px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 25px;
            position: sticky;
            top: 0;
            margin-top: 200px;
                       
            span{
                font-size: 16px;
                color: #acacac;
            }
            
            .date {
                color: #acacac;
                margin: 0;
            }

            .social__link{
                display: flex;
                align-items: flex-end;
                gap: 10px;
            }
        }

        canvas{
            margin-top: 100px;
            height: 432px;
            cursor: pointer;
        
            &:active{
                cursor: grabbing;
            }
        }

        .home__welcome-projects{
            display: flex;
            flex-direction: column;
            gap: 25px;  
            margin-top: 200px;
            max-width: 650px;

            h1{
                margin-top: 40px;
            }
            
            h1:first-child{
                margin-top: 0;
            }
            span{
                font-size: 16px;
                color: #acacac;
            }

            button{
                background-color: transparent;
                border: 0;
                font-size: 18px;
                color: white;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (max-width: 1024) { 
    .body{
        .home__welcome{
            
            canvas{
                height: 250px !important;    
            }
        }
    }
}