.body {
	min-height: calc(100vh - 150px - 100px);
	padding: 0 15px;
    max-width: 1330px;
    margin: auto;
}

.home__welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home__welcome-info{
        max-width: 380px;
        height: 600px;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        h1 {
            color: white;
            font-weight: 400;
            font-size: 42px;
            margin: 0;
        }

        span{
            font-size: 16px;
            color: #acacac;
        }

        .date {
            color: #acacac;
            margin: 0;
        }
    }
}

.canvas{
    height: 600px !important;
    cursor: pointer;
    
    &:active{
        cursor: grabbing;
    }
}