.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: 60px;
    margin: auto;
    padding: 20px 0;
    border-top: 1px solid #28292b;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1011139e;
    backdrop-filter: blur(10px);

    a {
        margin-left: 25px;
        font-size: 13px;
        color: #b7bdc2;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            color: white;
        }
    }
    
    a:first-child {
        margin-left: 0;
    }
    
    .active__tab {
        color: white !important;
    }
}

.canvas {
    max-width: 1300px;
    margin: 30px auto;

    canvas {
        height: 300px;
        cursor: pointer;
        transform: rotate all 0;
    
        &:active{
            cursor: grabbing;
        }
    }
}

.body {
    max-width: 1330px;
    margin: auto;
    padding: 0 15px 20px;
    height: 100%;

    .body__column-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: auto;
        gap: 20px;

        .assistance {
            display: flex;
            gap: 20px;
            justify-content: center;

            .assistance__row {
                display: flex;
                align-items: center;

                p {
                    margin: 0 0 0 5px;
                    color: white;
                }
            }
        }
        
        .home__welcome-info {
            max-width: 380px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
            text-align: center;
            gap: 15px;

            h3 {
                margin-top: 15px;
            }
                       
            p {
                font-size: 16px;
                color: #acacac;
                line-height: 1.4;         
                margin: 0;
            }
            
            .read__more {
                display: flex;
                align-items: flex-start;
                gap: 5px;
                cursor: pointer;

                span {
                    transform: rotate(90deg);                  
                }
            }

            .contact__links {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .contact__block {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .social__link {
                        display: flex;
                        align-items: flex-end;
                        gap: 10px;

                        span {
                            transition: all .2s;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            max-width: 380px;
            width: 100%;
            margin: auto;
            padding-top: 50px;

            p {
                font-size: 16px;
                color: #acacac;
                line-height: 1.4;         
                margin: 0;

                a {
                    color: white;
                    text-decoration: underline;
                }
            }

            .section__row {
                display: flex;
                align-items: baseline;
                gap: 10px;

                span {
                    color: white;
                    min-width: 4ch;
                }
            }

            span {
                color: #acacac;
            }
            
            li {
                color: #acacac;
                line-height: 1.4;    
            }

            .inline{
				color: #96cbfe;
				font-size: 16px;
			}

			pre{
				background: #1d1f21;
				color: #f8f8f2;
				white-space: pre;
				overflow: auto;
				padding: 1.5rem;
				margin: 1.5rem 0;
				border-radius: 3px;
                width: 100%;
			}

			.property{
				color: #96cbfe;
			}

			.pre_language_json {
				color: #f8f8f2;
				line-height: 1.5;
				
				.code_language_json {
					font-size: 14px;
					line-height: 25px;

					.token_property{
						color: #96cbfe;
					}

					.token_operator{
						color: #ededed;
					}

					.token_punctuation{
						color: #c5c8c6;
					}

					.token_string{
						color: #a8ff60;
					}
					.token_space{
						margin-left: 20px;
					}
				}
			}

            .unordered_list{
				margin: 20px 0;
                padding: 0;

				.list_item{
					padding-left: 20px;
					margin-bottom: 10px;
                    list-style: none;

					&::before {
						content: "-";
						color: #999;
						position: absolute;
						margin-left: -1rem;
					}
				}
			}		
        }           
    }
    .button__section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        max-width: 380px;
        width: 100%;
        margin: auto;
        padding-top: 30px;

        button {
            background-color: transparent;
            border: none;
            
            a {
                display: flex;
                align-items: center;
                gap: 5px;
                color: white;
                font-size: 16px;            
            }
            span {
                transform: rotate(270deg);
            }
        }
    }

    .row__projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto 0;
        max-width: 400px;
        
        .project {
            padding: 50px 0;
            border-bottom: 1px solid #28292b;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h1 {
                margin-top: 40px;
                max-width: 380px;
                width: 100%;
                margin: 0;
                font-size: 30px;
            
                .setup_anchor {
					position: absolute;
					visibility: hidden;
					margin-top: -120px;
					padding-top: 120px;
				}

				a {
					margin-right: 0.5rem;

					&:hover {
						border-bottom: 1px dotted;
					}
	
					&:hover~.permalink {
						visibility: visible;
					}
				}
			
				.permalink {
					display: inline-block;
					visibility: hidden;
				}      
            }
    
            p {
                font-size: 16px;
                line-height: 1.4;
                color: #acacac;
                max-width: 380px;
                width: 100%;
                margin: 0;

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }

            a {
                span {
                    // image
                    user-select: none;
                    border-radius: 6px;
                    box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2);
                }
            }
        }
        
        .project:first-child {
            padding: 0 0 50px 0;

            h1 {
                margin-top: 0;
            }
        }
        
        .project:last-child {
            border: none;
            padding: 50px 0 0 0;
        }
        
        button {
            background-color: transparent;
            border: 0;
            font-size: 18px;
            color: white;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 1024px) { 
    .row-projects {
        margin-top: 50px !important;
        width: 100%;
    }
}