::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 2px;

    &:hover{
        background: #5e5e5e; 
    }

    &:active{
        background: #6e6e6e;
    }
}