$text: #acacac; // Основной цвет текста.
$text-blue: #96cbfe; // Цвет текста если на слово идёт акцент.
$text-green: #a8ff60; // Используется после text-blue.
$yellow: #fbb03a; // Цвет карточки Мини-приложения в портфолио.
$blue: #0075ff; // Цвет карточки Мини-игры в портфолио.
$main: #101113; // Основной цвет страницы.
$bg: #17191c;
$border: #28292b;